<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>目標設定画面</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
   
</head>
<body>
	<section class="goal">
		<form  th:action="@{/goal}" th:object="${goalDto}" method="POST">
			<div class="label-item">
				<label for="name">運動種別</label>
				<select name="ex">
					<option value="">選択してください</option>
					<option value="ウォーキング">ウォーキング</option>
					<option value="ランニング">ランニング</option>
					<option value="筋トレ">筋トレ</option>
				</select>
			</div>
			<div class="label-item">
				<label for="name">1回あたりの運動時間</label>
				<input type="text">
			</div>
			<div class="label-item">
				<label for="name">目標期間</label>
				<select>
					<option value="">選択してください</option>
					<option value="1週間">1週間</option>
					<option value="2週間">2週間</option>
					<option value="1か月">1か月</option>
				</select>
			</div>
			<div class="label-item">
				<label for="name">1週間当たりの運動する頻度</label>
				<select>
					<option value="">選択してください</option>
					<option value="週1回">週1回</option>
					<option value="週1回">週2回</option>
					<option value="週1回">週3回</option>
					<option value="週1回">週4回</option>
					<option value="週1回">週5回</option>
					<option value="週1回">週6回</option>
					<option value="週1回">週7回</option>
				</select>
			</div>
			<button type="submit">登録する</button>
		</form>
	</section>
</body>
</html> 