

/* -------------------------------------------------------------------------------------

目標設定画面

--------------------------------------------------------------------------------------*/

.goal-card {
    background: #e6d3ad;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    padding: 60px 24px;
}


.form-group {
    margin-bottom: 25px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #916500;
    font-size: 16px;
}

.form-input, .form-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s;
}

.form-input:focus, .form-select:focus {
    outline: none;
    border-color: #C49A47;
}

.form-select {
    background: #fff;
    cursor: pointer;
}

.register-btn{
	width: 100%;
	padding: 10px 0;
	text-align: center;
	border: none;
	background: #D0A33C;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}














